@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

@-webkit-keyframes pulse {
    0% {
        background-color: #ff0000;
    }
    16.66% {
        background-color: #ffa500;
    }
    31.33% {
        background-color: #ffff00;
    }
    50% {
        background-color: #00ff00;
    }
    66.66% {
        background-color: #0000ff;
    }
    83.33% {
        background-color: #4b0082;
    }
    100% {
        background-color: #8f00ff;
    }
}

html,
body,
h1 {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    position: relative;
    width: 100%;
}

body {
    background-color: #ff0000;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-animation: pulse 80s infinite alternate;
    -moz-animation: pulse 80s infinite alternate;
    -ms-animation: pulse 80s infinite alternate;
    animation: pulse 80s infinite alternate;
}

h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 30em;
    font-weight: 300;
    height: 1em;
    left: 0;
    line-height: 1;
    margin-top: -.5em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
}